html{
  font-size: 100px;
}
.el-dialog a{
  text-decoration: underline;
}
.el-dialog__footer{
  display: flex;
  justify-content: center;
}
.el-button{
  width: 1.74rem;
  height: .4rem;
  background-image: linear-gradient(-135deg, #B643FF 0%, #FF6C81 100%);
  border-radius: .2rem;
  color: #fff;
  border:none;
}
.el-button.how{
  width:auto;
  height:auto;
  background:transparent;
  border:none;
  font-size: .16rem;
  color: #B3A6FF;
  transition:opacity .2s ease-in-out;
  padding:0;
}
.el-button.how:hover{
  opacity:.5;
}

.how-dialog{
  background: #463E79;
  border: .01rem solid #B3A6FF;
  border-radius: .1rem;
  color: #fff;
  font-size: .15rem;
}
.how-dialog .el-dialog__close{
  height: 38px;
  width: 38px;
  /*background-image: url('../images/close.png');*/
  background-repeat:no-repeat;
  display: none;
}
.how-dialog .el-dialog__close:before{
  content:''
}
.how-dialog .el-dialog__header{
  color: #fff;
  text-align: center;
  padding-top: .4rem;
  padding-bottom:0px;

}
.how-dialog .el-dialog__header .el-dialog__title{
  color: #fff;
}
.how-dialog .lucky-tron{
  margin:10px auto 0;
  display: flex;
  height:60px;
  width:500px;
  background:rgba(0,0,0,0.45);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  color: #fff;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}
.how-dialog .lucky-tron:first-child{
  margin-top:0
}
.how-dialog .el-dialog__body{
  font-size: .15rem;
  color: #fff;
  padding: .1rem .3rem;
}
.how-dialog .el-dialog__body p{
  margin-top: .1rem;
}
.how-dialog button.draw{
  position: relative;
  width: 160px;
  height: 60px;
  background-image: linear-gradient(0deg, #51B7FF 27%, #9A35FF 100%);
  border-radius: 3px;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border:none;
  margin:0 auto;
  display: block;
  cursor: pointer;
}

.el-slider{
  width: 100%;
}
.el-slider__runway{
  height: .18rem;
  background-color: #df4c51;
  border-radius:50px;
  position: relative;
  z-index: 1;
}
.el-slider__bar{
  background-color: #64e1f6;
  border-radius:50px;
  height:.18rem;
}

.el-slider__button-wrapper{
  height: .33rem;
  width: .33rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px
  rgba(9, 8, 58, 0.45);
  border-radius:100%;
  top:-8px;
}
.el-slider__button-wrapper::before{
  position: absolute;
  content:attr(data-before);
  width: .59rem;
  height: .42rem;
  left:.14rem;
  top:-.46rem;
  color: #000;
  background-color: transparent;
  background-image: url('../../assets/images/bubble.png');
  background-repeat: no-repeat;
  text-align: center;
  font-size: .16rem;
  line-height:.34rem;
}
.el-slider__button{
  background-color: transparent;
  border:none;
}
.el-tooltip__popper.is-dark{
  width: 110px;
  height: 62px;
  background-color: transparent;
  /*background-image: url('../images/tool-tip.png');*/
  text-align: center;
  font-size: 30px;
  line-height:30px;
}

